.navbar {
  width: rem(6vw);
  height: rem(97vh);
  margin-left: rem(1.5vh);
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  border-radius: 1vmax;
  background-color: var(--mantine-color-primary-5);
}

.navbarMain {
  flex: 1;
}

.link {
  min-width: 4vw;
  width: rem(55px);
  max-width: 4.5vw;
  min-height: 4vw;
  height: rem(55px);
  max-height: 4.5vw;
  border-radius: 1vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-neutral-1);

  &:hover {
    background-color: var(--mantine-color-primary-3);
    color: var(--mantine-color-neutral-1);
  }

  &[data-active] {
    & {
      background-color: var(--mantine-color-primary-3);
      color: var(--mantine-color-neutral-1);
    }
  }

  /* Disabled state */
  &[data-disabled] {
    opacity: 0.25;
    background-color: transparent;
  }
}
