.navbar {
  width: rem(6vw);
  height: rem(97vh);
  margin-left: rem(1.5vh);
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  border-radius: 1vmax;
  background-color: var(--mantine-color-primary-5);
}

.navbarExpanded {
  width: rem(20vw);
  min-width: 200px;
  max-width: 300px;
}

.navbarMain {
  flex: 1;
  width: 100%;
}

.linkIcon {
  color: var(--mantine-color-neutral-1);

  &:hover {
    color: var(--mantine-color-neutral-1);
  }

  &[data-active] {
    & {
      color: var(--mantine-color-neutral-1);
    }
  }
}

.link {
  width: 100%;
  height: rem(55px);
  border-radius: 1vmax;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.2rem;
  color: var(--mantine-color-neutral-1);
  padding: 0.5rem;
  &:hover {
    background-color: var(--mantine-color-primary-3);
    color: var(--mantine-color-neutral-1);
    cursor: pointer;
  }

  &[data-active] {
    & {
      background-color: var(--mantine-color-primary-3);
      color: var(--mantine-color-neutral-1);
    }
  }

  /* Disabled state */
  &[data-disabled] {
    opacity: 0.25;
    background-color: transparent;
  }
}
