.fullscreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.navigationMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

.minimizeIcon {
    cursor: pointer;
    color: #FFFFFF;
}

.minimizeIcon:hover {
    color: var(--mantine-color-primary-2);
}

.fullscreenView {
    width: 100vw;
    height: 93vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: var(--mantine-color-neutral-3) !important;
}

.nonFullscreenView {
    height: 50vh;
    position: relative;
    width: fit-content;
}

canvas {
    width: auto !important;
    height: 100% !important;
}
