.fullscrenNav {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 1s;
    background-color: rgba(20, 28, 40, 0.75);
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--mantine-color-neutral-0);
}

.nonFullscreenNav {
    color: var(--mantine-color-neutral-0);
}

.fullscrenNav:hover {
    opacity: 1;
    transition: opacity 0.5s;
}

.arrowButtons {
    background-color: var(--mantine-color-neutral-0) !important;
    color: var(--mantine-color-neutral-6) !important;
    &:disabled,
    &[data-disabled] {
        color: var(--mantine-color-neutral-3) !important;
        border-color: none;
        background-color: transparent;
    }
}