.fullscreenContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.navigationMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1rem;
}

.alertContainer {
    display: flex;
    justify-content: center;
    z-index: 100;
}

.alertPopUp {
    width: 20%;
    background-color: rgba(20, 28, 40, 0.75);
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--mantine-color-neutral-0);
    text-align: center;
}

.minimizeIcon {
    cursor: pointer;
    color: var(--mantine-color-neutral-0);
}

.minimizeIcon:hover {
    color: var(--mantine-color-primary-2);
}

.pdfContainer {
    display: flex;
    justify-content: center;
}

.fullscreenView {
    width: 100vw;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    background-color: var(--mantine-color-neutral-3) !important;
}

.nonFullscreenView {
    height: 50vh;
    position: relative;
    width: fit-content;
    padding: 1rem;
}

.page {
    padding: 1.3rem;
    background-color: var(--mantine-color-primary-6) !important;
    border-radius: 1rem;
}

canvas {
    width: auto !important;
    height: 100% !important;
}
