html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  background-color: var(--mantine-color-neutral-0);
}

.divider {
  width: 97vw;
  margin-bottom: 3vh;
  border-bottom: 0.125rem solid var(--mantine-color-neutral-2);
}

.mainContentWrapper {
  width: 100%;
  height: 70vh;
  margin-left: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.headerContentWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20vh;
  padding: 0 1rem;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.horizontalWrapper {
  display: flex;
  padding-top: 5rem;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: min-content;
  padding: 0 1.5vw;
}

.footerWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
  bottom: 0;
  background-color: var(--mantine-color-neutral-2);
  /*Stand in colour for visualization of position*/
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.logoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.alert {
  z-index: 2;
  color: light-dark(var(--mantine-color-grey-8), var(--mantine-color-white));
}

.countDown {
  color: light-dark(var(--mantine-color-grey-8), var(--mantine-color-white));
  font-size: 2rem;
}
