.layoutWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.mainContentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 84%;
  width: 93%;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.alert {
  z-index: 2;
  color: light-dark(var(--mantine-color-grey-8), var(--mantine-color-white));
}

.countDown {
  color: light-dark(var(--mantine-color-grey-8), var(--mantine-color-white));
  font-size: 2rem;
}
