.input {
  &[data-variant="filled"] {
    background-color: var(--mantine-color-primary-0);
    border-radius: 10px;
    color: var(--mantine-color-neutral-4);
    &:focus-within {
      border-color: var(--mantine-color-primary-4);
    }
  }
}
